@model Employee

@{
    var photoPath = "~/Images/" + (Model.PhotoPath ?? "1.png");
}

    <h3> Detail of employee</h3>

@*<environment include="Development">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</environment>
<environment exclude="Development">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</environment>*@
<div class="row justify-content-center m-3">
    <div class="col-sm-4">
        <div class="card">

            <div class="card-header">
                <h1>@Model.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="@photoPath" asp-append-version="true" />
                <h4>EmployeeId : @Model.Id</h4>
                <h4>Email : @Model.Email</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary" />Back</a>
                <a  asp-action="edit" asp-controller="Home" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{ 
    <script src="~/js/CustomScript.js"></script>
}